.shop-container {
	display: flex;
	justify-content: space-around;
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 45px;
	align-items: center;
	margin:120px 104px;
}
