.cart {
	background-color: rgba(255, 224, 179, 1);
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 23px;
}
.cart h5 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
    margin-bottom: 50px;
}
.total-price {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
}
