.product {
	border: 2px solid #95a0a7;
	border-radius: 8px;
	height: 506px;
	width: 300px;
	position: relative;
	margin: 60px;
}
.product img {
	border-radius: 8px;
	margin: 8px;
}
.product-info {
	padding: 14px;
}
#name-pd {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 21px;
	line-height: 25px;
	letter-spacing: 0.0015em;
}
.product p {
	margin: 0;
	padding: 0;
}
.addToCartBtn {
	background-color: rgba(255, 224, 179, 1);
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0;
	border: 1px solid #95a0a7;
	border-radius: 0 0 8px 8px;
}
.btn-text {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */

	letter-spacing: 0.0125em;
}
