.navigation-bar {
	background-color: #1c2b35;
	padding-left: 140px;
	padding-right: 140px;
	height: 80px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 5;
}
nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
nav ul {
	display: flex;
}
nav ul li {
	list-style: none;
	margin-left: 16px;
}
nav ul li a {
	text-decoration: none;
	padding: 10px;
}
